<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <title>Chat box</title>
    </head>
    <body>
        <div class="main-section">
            <nav id="left-side">
                <p id="username"></p>
                <div class="room_select_container">
                    <h4>Rooms</h4>
                    <div class="add_room">
                        <input type="text" id="add_new_room">
                        <input type="button" id="add_new_room_submit" value="New room">
                    </div>
                    <ul id="room_list">
                        
                    </ul>
                </div>

            </nav>
            <div class="right-side">
                <div class="chat_window_container">
                    <div id="chat_window"></div>
                </div>
                <div id="message_input">
                    <input type="text" id="message_box" autofocus placeholder="Enter message here..." autocomplete="false">
                    <button type="button" id="message_submit" name="button">Send</button>
                </div>
            </div>

        </div>



    </body>
</html>
